.bg-grey{
  background-color: rgb(206, 198, 198);
}

.bg-blue{
  background-color: rgb(127, 178, 226);
}

.bg-orange{
  background-color: rgb(226, 172, 71);
}

.bg-lavender{
  background-color: rgb(137, 137, 211);
}

.bg-red{
  background-color: rgb(218, 38, 53);
}

.ml-40{
  margin-left: 40px;
}

.mt-30{
  margin-top: 30px;
}

.mt-100{
  margin-top: 100px;
}

.ml-20{
  margin-left: 20px;
}

.br-5{
  border-radius: 10px;
}

.font-weight-20{
  font-weight: 40px;
}

.mt-40{
  margin-top: 70px;
}

.nav-click{
  cursor: pointer;
  color: rgb(196, 10, 10);
}