#logo{
    width: 10px;
    height: 10px;
}

.header{
    padding: 0;
    display: flex;
    background-image:linear-gradient(#0730fa,#0795fa) ;
    font-size: 20px;

    
}

.logo-title{
    text-align: center;
    font-size: 24px;
    padding: 20px;
    padding-top:30px;

}

ul li{
    list-style-type: none;
    padding-left: 100px;
}

ul li Link{
    color: black;
}

#nav-item{
    text-decoration: none;
    color:white;

}

.nav ul{
    display: flex;
    margin-left: 400px;
    margin-top: 15px;
    justify-content: end;
}

.food-munch-logo {
    width: 70px;
    height: 70px;
}

#navItem1 , #navItem2, #navItem3, #navItem4, #navItem5 {
    color: white;
    margin-left: 30px;
}

#navItem1:hover, #navItem2:hover, #navItem3:hover, #navItem4:hover{
    color: black;
    background-color: antiquewhite;
    border-radius: 40px;
}

#navItem1:active, #navItem2:active, #navItem3:active, #navItem4:active{
    background-color: #4951b5;
    border-radius: 40px;
}

.container-fluid{
    margin: 10px;
    background-color: rgba(8, 112, 19, 0.735);
    color: antiquewhite;
}

a{
    color:antiquewhite;
}
#title{
    margin-top: 20px;
}

.nav-menu{
    margin-left: 400px;
}

.card{
    height: 300px;
    width: 500px;
}

.menu {
    margin-top: 150px;
  }
.main-nav{
    background-color: white;
}
 
  
 #btn1, #btn2, #btn3, #btn4{
    align-items: center;
    border: 2px solid wheat;
    height: 50px;
    width: 300px;
    margin: 0px 21px;
    background-color: #0081AB;
    color:antiquewhite;
    font-size: larger;
    border-radius: 40px;
    box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

 #btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover{
    height: 53px;
    width: 303px;
    background-color: #DA2C43    ;
    color:antiquewhite;
    font-size: larger;
    border-radius: 40px;
    transition-duration: 0.3s;
    box-shadow: 0px 6px 6px 0#0081AB
    , 0 5px 5px 0 #0081AB
    ;
 }

 .logout-btn{
    margin-top: 3px;
    width: 70px;
    height: 35px;
    background-color: #0081AB;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 17px;
    padding:5px;
    margin-top: 14px;
 }

 .logout-btn:hover{
    background-color: #DA2C43;
 }

 .login-btn{
    margin-top: 3px;
    width: 70px;
    height: 35px;
    background-color: #0081AB;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 17px;
    padding:5px;
    margin-left: 135px;
 }

 .login-btn:hover{
    background-color: #DA2C43;
 }

 .username{
    margin-right: 40px;
    margin-top: 20px;
    font-size: 20px;
 }

 .log-div{
    display: flex;
    margin-left: 105px;
 }

 .main-footer-div{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 218px;
    margin-top: 279px;
    background-color: rgba(8, 112, 19, 0.735);
 }
 
 .contact-head{
    padding-top: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: white;
 }

 .icon-1, .icon-2, .icon-3,.icon-4{
    width: 25px;
    color: whitesmoke;
    height: 35px;
    margin: 20px;
 }

.cr-div{
    color: whitesmoke;
}

hr{
    display: block;
    color: white;
}