@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
  /* ge: url("https://media.istockphoto.com/id/1184398225/photo/growing-asian-cities-night-view-of-pune-city-in-india-during-diwali-festival.webp?b=1&s=170667a&w=0&k=20&c=UrsGohVefEto26BUObNs93ppDrmp1JfoI-P4XLNMddg="); */
}